*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/net
/paulscode
/ibxm
/cpw
/assets/forge
*.cfg
forge_logo.png
mcpmod.info
Start.java
fmlversion.properties
deobfuscation_data-1.6.4.lzma
forge_at.cfg